---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Projekt from "../components/Projekt.astro";
import Mig from "../components/Mig.astro";
import Boxe from "../components/Boxe.astro";
---

<MainLayout title="Titel">
  <body class="flex items-center justify-center h-screen bg-gray-100">



	
    <div class="text-center p-8 max-w-2xl w-full my-20">

        <!-- Navn med linjer på hver side -->
        <div class="flex items-center justify-center mb-4">
            <div class="border-t border-black border-2 flex-grow mr-4 rounded-full"></div>
            <h1 class="text-[20px] font-sans">Zarish Zara Karim</h1>
            <div class="border-t border-black border-2 flex-grow ml-4 rounded-full"></div>
        </div>
        <!-- Portfolio titel -->
        <div class="mb-6 mt-7">
            <h2 class="text-6xl font-bold font-instru mb-8 italic">PORTFOLIO*</h2>
        </div>

        <!-- Ikoner med linjer på hver side -->
        <div class="flex items-center justify-center mb-6">
            <div class="border-t border-black border-2 flex-grow mr-4 rounded-full"></div>
            <div class="flex space-x-4">
                <a href="#" class="text-gray-500 hover:text-gray-700">
                    <img src="/001-linkedin.svg" alt="LinkedIn" class="w-6 h-6">
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-700">
                    <img src="/003-github.svg" alt="GitHub" class="w-6 h-6">
                </a>
                <a href="mailto:zarishdk@gmail.com" class="text-gray-500 hover:text-gray-700">
                    <img src="/002-email.svg" alt="Email" class="w-6 h-6">
                </a>
            </div>
            <div class="border-t border-black border-2 flex-grow ml-4 rounded-full"></div>
        </div>
       
		<!-- Kategorier -->
        <div class="flex justify-center space-x-4">
            <div class="flex items-center">
                <img src="star.png" alt="" class="w-5 h-5 mr-2">
                <span>Grafisk Designer</span>
            </div>
            <div class="flex items-center">
                  <img src="star.png" alt="" class="w-5 h-5 mr-2">
                <span>UI/UX</span>
            </div>
            <div class="flex items-center">
                   <img src="star.png" alt="" class="w-5 h-5 mr-2">
                <span></span>
            </div>
        </div>
    </div>
</body>

  <Mig/>
  <Projekt/>
  <Boxe/>



</MainLayout>

