<section class="mx-6">
    

   <div class="flex items-center">
    <h2 class="text-[30px] font-bold flex items-center mt-12 font-scree mb-1">
      KOMPETENCER
      <!-- Star Icon -->
      <img src="/star.png" alt="Star Icon" class="w-6 h-6 ml-2 mt-3">
    </h2>
  </div>

   <!-- Underline -->
 <!-- <div class="border-b-[3px] border-black mt-2 w-[130px] rounded-full"></div> -->
  <div class="flex flex-col md:flex-row-reverse mt-5 items-center"></div>

<div class="h-full min-h-screen w-full pt-12 p-4">
  <div class="grid gap-14 md:grid-cols-3 md:gap-5">








<!-- UI/UX Design Box -->
<div class="relative rounded-xl bg-black p-6 text-center shadow-xl mb-10 mx-3">
 <span class="absolute inset-0 -translate-x-[7px] -translate-y-[9px] bg-[#E9F3F9] border-2 border-black rounded-xl z-0"></span>
  
  <div class="relative z-10">
    <div class="mx-auto flex h-16 w-16 border-black border-2 -translate-y-16 transform items-center justify-center rounded-full bg-white shadow-lg">
      <img src="/ux.svg" alt="" class="w-8 h-8">
    </div>

<div>
    <h1 class="text-darken mb-3 text-xl font-bold lg:px-14 -mt-8 font-sans">UI/UX Design </h1>
    <ul class="px-4 text-left list-disc flex flex-col mb-4 ml-4 space-y-4 font-sans">
      <li>Brugercentreret design af brugeroplevelser.</li>
      <li>Wireframes og prototyper i Figma.</li>
      <li>Farveteori, typografi og layout.</li>
    </ul>
</div>

  </div>
</div>






<!-- GRAFISK DESIGN -->
<div class="relative rounded-xl bg-black p-6 text-center shadow-xl mb-10 mx-3">
 <span class="absolute inset-0 -translate-x-[7px] -translate-y-[9px] bg-[#E9F3F9] border-2 border-black rounded-xl z-0"></span>
  
  <div class="relative z-10">
    <div class="mx-auto flex h-16 w-16 border-black border-2 -translate-y-16 transform items-center justify-center rounded-full bg-white shadow-lg">
      <img src="/grafik.svg" alt="" class="w-8 h-8">
    </div>

<div>
    <h1 class="text-darken mb-3 text-xl font-bold lg:px-14 -mt-8 font-sans">Grafisk Design</h1>
    <ul class="px-4 text-left list-disc flex flex-col mb-4 ml-4 space-y-4 font-sans">
      <li>Design af logoer og visuelle identiteter.</li>
      <li>Originale illustrationer og ikoner.</li>
      <li>Typografi for læsbarhed og æstetik.</li>
    </ul>
</div>

  </div>
</div>





<!-- WEB DESIGN -->
<div class="relative rounded-xl bg-black p-6 text-center shadow-xl mb-10 mx-3">
 <span class="absolute inset-0 -translate-x-[7px] -translate-y-[9px] bg-[#E9F3F9] border-2 border-black rounded-xl z-0"></span>
  
  <div class="relative z-10">
    <div class="mx-auto flex h-16 w-16 border-black border-2 -translate-y-16 transform items-center justify-center rounded-full bg-white shadow-lg">
      <img src="/web.svg" alt="" class="w-8 h-8">
    </div>

<div>
    <h1 class="text-darken mb-3 text-xl font-bold lg:px-14 -mt-8 font-sans">Web Design</h1>
    <ul class="px-4 text-left list-disc flex flex-col mb-4 ml-4 space-y-4 font-sans">
      <li>Responsivt webdesign til alle enheder.</li>
      <li>Grundlæggende HTML og CSS.</li>
      <li>TBrugervenlige og tiltalende web layouts.</li>
    </ul>
</div>

  </div>
</div>



</section>

