<!-- ---
const { variant = "primary", size = "medium" } = Astro.props;

const knap = "border-2 p-4 rounded-full font-bold font-jost inline-flex items-center gap-2";

const variantClasses = {
    "primary": "border-[#3B2983] bg-[#B5D7FF] border-[5px] hover:bg-[#FF6F61] py-2 px-7 text-[#3B2983]",
    "secondary": "border-[#B5D7FF] bg-[#3B2983] border-[5px] hover:bg-[#FF6F61] py-2 px-7 text-[#B5D7FF]",
};

const sizeClasses = {
    "big": "text-4xl",
    "medium": "text-2xl",
    "small": "text-xl",
};
---

<div class="flex flex-wrap justify-center gap-6">
    <a class="relative" href="https://www.figma.com/file/YOUR_FIGMA_LINK" target="_blank">
        <span class="absolute top-0 left-0 mt-1 ml-1 h-full w-full rounded bg-black"></span>
        <span class="relative inline-flex items-center h-full w-full rounded border-2 border-black bg-white px-3 py-1 text-base font-bold text-black transition duration-100 hover:bg-[#FF6F61] hover:text-white">
            <img src="/figma1.svg" alt="Figma Icon" class="w-6 h-6 mr-2" />
            Figma
        </span>
    </a>
    <a class="relative" href="https://github.com/YOUR_GITHUB_LINK" target="_blank">
        <span class="absolute top-0 left-0 mt-1 ml-1 h-full w-full rounded bg-gray-700"></span>
        <span class="relative inline-flex items-center h-full w-full rounded border-2 border-black bg-black px-3 py-1 text-base font-bold text-white transition duration-100 hover:bg-[#FF6F61] hover:text-black">
            <img src="/github1.svg" alt="GitHub Icon" class="w-6 h-6 mr-2" />
            GitHub
        </span>
    </a>
</div>
 -->


