---
---

<footer class="py-8 border-black border-t-[1px] border-b-[1px] mx-6 my-10">
    <div class="max-w-screen-lg mx-auto px-4 text-center my-4">
        <h2 class="text-[22px] font-semibold mb-2 flex items-center justify-center">
            LAD OS SNUPPE EN KOP KAFFE 
            <img src="/star.png" alt="star" class="inline-block w-6 h-6 ml-2" />
        </h2>
        <div class="border- border-black w-24 mx-auto mb-4"></div>
        <div class="flex justify-center items-center space-x-4 border-black border-2 p-2">
            <a href="mailto:zarishdk@gmail.com" class="text-[14px]">Email: zarishdk@gmail.com</a>
            <span class="text-lg">|</span>
            <a href="tel:+4552520011" class="text-[14px]">Tlf: +45 52520011</a>
        </div>
    </div>
</footer>
  

