<section class="mt-10 border-black border-t-2 border-b-2 mx-6">

 <div class="flex items-center">
    <h2 class="text-[25px] font-bold flex items-center mt-12 font-sans">
      OM MIG
      <!-- Star Icon -->
      <img src="/star.png" alt="Star Icon" class="w-6 h-6 ml-2">
    </h2>
  </div>

  <!-- Underline -->
  <div class="border-b-[3px] border-black mt-2 w-[75px] rounded-full"></div>
  <div class="flex flex-col md:flex-row-reverse mt-5 items-center">
    
    <!-- Profile Image -->
    <div class="flex-shrink-0 md:mb-0 md:ml-6 mt-8">
      <img class="w-[250px] h-[372px] object-cover" src="zara.png" alt="Profile Picture">
    </div>
   
    <!-- Description -->
    <div class="text-left md:text-left relative">
      <!-- Green Circle -->
      <img class="absolute -top-10 left-[-20px] w-[95px] h-[95px] animate-pulse z-0" src="/star2.svg" alt="Green Circle">
      
      <!-- Blue Circle -->
      <img class="absolute top-[280px] left-[280px] w-[95px] h-[95px] animate-pulse z-0" src="/star3.svg" alt="Blue Circle">
      
      <p class="relative z-10 text-[15px] mb-12">
        Mit navn er Zara, og jeg studerer multimediedesign på KEA med specialisering i grafisk design, UX/UI, og webdesign.
        <br><br>
        Gennem min uddannelse og projekter har jeg udviklet stærke kompetencer inden for visuel identitet, digital illustration og responsivt webdesign. Jeg har arbejdet på forskellige projekter, hvor jeg har skabt alt fra logoer og brandingmaterialer til brugergrænseflader.
        <br><br>
        Jeg stræber efter at levere høj kvalitet i alle mine projekter og er altid nysgerrig efter at lære nye teknologier og teknikker. Min tilgang er målrettet og kreativ, hvilket gør mig i stand til at skabe design, der både er visuelt tiltalende og funktionelle.
      </p>
    </div>
  </div>

</section>